<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name='diff_drive' filename='libgazebo_ros_diff_drive.so'>
    
    
            <!-- Wheel Information -->
            <num_wheel_pairs>2</num_wheel_pairs>

            <left_joint>left_wheel1_joint</left_joint>
            <left_joint>right_wheel1_joint</left_joint>

            <right_joint>left_wheel_joint</right_joint>
            <right_joint>right_wheel_joint</right_joint>

            <wheel_separation>0.5</wheel_separation>
            <wheel_diameter>0.1</wheel_diameter>
    

            <!-- Limits -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>
    

            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
    
    
        </plugin>
    </gazebo>

    <xacro:macro name="robot_controller">
        <gazebo>
            <plugin name="gazebo_ros2_control_robot" filename="libgazebo_ros2_control.so">
                <parameters>$(find articubot_one)/config/controllers.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:macro>

    <gazebo>
        <plugin name="transmission" filename="libgazebo_ros2_control.so">
                    <robotNamespace>/</robotNamespace>
                    <controlPeriod>0.001</controlPeriod>
                    <robotParam>articubot_one</robotParam>
                    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>
</robot>